<h1>Welcome <%= user.name %></h1>
<form action="/welcome" method="post">
    <fieldset>
        <label for="age">Hi, my name is <span><%= user.name %></span>, I'm </label>
        <input type="number" id="age" name="age" required value="<%= user.age %>">
        <label for="age">years old.</label>
    </fieldset>
    <fieldset>
        <label for="country">I live in</label>
        <input type="text" id="country" name="country" required value="<%= user.country %>">
        <label for="language">and I speak</label>
        <input type="text" id="language" name="language" required value="<%= user.language %>">
    </fieldset>
    <div>
        <button type="submit" id="backButton" name="action" value="back">Back</button>
        <button type="submit">Next</button>
    </div>
</form>