<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer'); %>
    <% if (script) { %>
        <% script.forEach(function(scripts) { %>
            <script src="/js/<%= scripts %>.js"></script>
        <% }) %>
    <% } %>
</body>
</html>