<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer'); %>
    <% if (scripts) { %>
        <script src="js/header.js"></script>
        <% scripts.forEach(function(script) { %>
            <script src="js/<%= script %>.js"></script>
        <% }) %>
    <% } %>
</body>
</html>