<p><%=  //specificEvent %></p>
<%- include('../partials/components/eventDetailsTitle.ejs') %>
<%- include('../partials/components/detailDescription.ejs') %>
<%- include('../partials/components/impression.ejs') %>
<%- include('../partials/components/program.ejs') %>
<%- include('../partials/components/recommended.ejs') %>
<%- include('../partials/sponsorBanner.ejs') %>

<% // console.log(specificEvent.price[0].cost) %>
<% // console.log(specificEvent) %>
<script src="/js/heartButton.js" async></script>
