<section class="basic">
    <h1>Find an event that suits you!</h1>
    <form action="/search" method="post">
        <label for="query">Search for events</label>
        <input type="text" id="query" name="query" value="">
        <button type="submit" class="primary_button">search</button>
    </form>
</section>
<% if(givenQuery) {%>
<section class="basic">
    <h2>Results for <%= givenQuery %></h2>
        <% if(autoComplete) { console.log(autoComplete) %>
            <ul class="results">
                <% autoComplete.event.forEach(function(event) { %>
                    <li>
                        <a href="/events/<%= event.id %>">
                            <img src="<%= event.image.url %>" alt="<%= event.name %>">
                            <h3><%= event.name %></h3>
                            <p><%= event.description %></p>
                            <p><%= event.start_date %></p>
                            <p class="summary"><%= event.summary %></p>
                            <ul class="tags">
                                <% for(let i = 0; i < Math.min(6, event.tags.length); i++) { %>
                                    <li><%= event.tags[i].display_name %></li>
                                <% } %>
                            </ul>
                        </a>
                    </li>
                <% }) %>
            </ul>
        <% } %>
</section>
<% } %>
