<section class="categories">
    <h2>Categories</h2>

    <ul id="container">
            <li><%- include('./detailCard.ejs') %></li>
            <li><%- include('./detailCard.ejs') %></li>
            <li><%- include('./detailCard.ejs') %></li>
            <li><%- include('./detailCard.ejs') %></li>
            <li><%- include('./detailCard.ejs') %></li>
        </ul>
</section>