<section class="overviewGrid">
    <ul>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
    </ul>
</section>