<section class="overviewGrid">
    <ul class="grid">
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
        <li><%- include('./detailCard.ejs') %></li>
    </ul>
</section>