<section class="recommended">
    <h2>Recommended for you</h2>
    <ul>
        <% if(user) { %>
            <% multipleSpecificEvent.forEach(function(event) { %>
                <li>
                    <a href="/events/<%= event.id %>">
                        <img src="<%= event.logo.url %>" alt="<%= event.name %>">
                        <h3><%= event.name.text %></h3>
                        <p><%= event.description.text %></p>
                    </a>
                </li>
            <% }); %>
        <% } %>
    </ul>
</section>